.trending {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1.95rem;
}

.trending__line {
  height: 0.625rem;
  background: #214b6b;
}

.trending__line:first-child {
  width: 0.75rem;
  border-radius: 0 1.25rem 1.25rem 0;
}

.trending__line:last-child {
  width: 100%;
  max-width: 3.85rem;
  border-radius: 1.25rem 0 0 1.25rem;
}

.trending__title {
  color: #ffffff;
  min-width: 10.7rem;
  padding: 0 0.7rem 0 0.55rem;
  font-size: clamp(1.5rem, 6vw, 1.75rem);
  font-weight: 700;
  line-height: 95.6%;
}

@media (min-width: 768px) {
  .trending {
    padding-top: 1.25rem;
  }

  .trending__line:first-child {
    width: 1.25rem;
  }

  .trending__line:last-child {
    max-width: 4.25rem;
  }

  .trending__title {
    min-width: 16.3rem;
    padding: 0 0.8rem;
    font-size: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .trending__line:last-child {
    border-radius: 1.25rem;
  }
}
